@page
@using CRM.Utility
@model CRM.Pages.Admin.Employee.IndexModel
@{
}
@if (User.IsInRole(SD.RootRole) || User.IsInRole(SD.ManagerRole))
{
    <div class="border backgroundWhite container">
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary"><i class="fa fa-users" aria-hidden="true"></i> Employee List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
            </div>
        </div>
        <br />
        <br />
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
}
else
{
    <div class="container-lg">
        <img style="padding-left:70px;" src="~/images/Access-Denied.png" />
    </div>
}

@section Scripts{
    <script src="~/js/employee.js"></script>
}